.container {
    width: 400px;
    min-height: 50vh;
    /* border: 1px solid #aaa; */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    gap: 50px;
    padding: 10px 0px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 260px;
}

form > div {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 2px;
}

input {
    padding: 5px 15px;
    border-radius: 50px;
    border: 1px solid #cbcbcb;
    width: 100%;
    font-size: 16px;
}

input[type="submit"] {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px 25px;
    border-radius: 50px;
    border: none;
    color: #ffffff;
    background: #613aea;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    transition: .3s;
}

p {
    padding-top: 20px;
    font-size: 14px;
}

#page h1 {
    font-size: 2em;
}

input[type="submit"]:hover {
    background: #8347ff;
}