<!doctype html>

<head>
    <title>{% block title %}{% endblock %} - Skill Connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <h1>SkillConnect</h1>
        <ul>
            {% if "username" in session %}
                {% if session['userType'] == "FREELANCER" %}
                    <li><a href="{{ url_for('profile') }}">{{ session['username'] }}</a>
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
                {% endif %}
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Freelancer?</a>
                <li><a href="{{ url_for('recruiter_auth.login') }}">Recruiter?</a>
            {% endif %}
        </ul>
    </nav>
    
    <div id="notifications">
        {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
        {% endfor %}
    </div>

    <section id="page">
        {% block content %}{% endblock %}
    </section>
</body>
{% block scripts %}{% endblock %}
</html>