{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}

{% block content %}


    <section id="profile">
        <h1>Profile</h1>

        <div class="nameField">
            <input type="text" name="firstName" id="firstName" placeholder="First Name" value="{{ profile.firstName }}">
            <input type="text" name="middleName" id="middleName" placeholder="Middle Name" value="{{ profile.middleName }}">
            <input type="text" name="lastName" id="lastName" placeholder="Last Name" value="{{ profile.lastName }}">
        </div>

        <div class="inputField">
            <label for="summary">Summary</label>
            <textarea name="summary" id="summary">{{ profile.summary }}</textarea>
        </div>

        <div class="inputField">
            <label for="phoneNumber">Phone Number:</label>
            <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Phone Number" value="{{ profile.phoneNumber }}">
        </div>

        <div class="inputField">
            <label for="address">Address:</label>
            <input type="text" name="address" id="address" placeholder="Address" value="{{ profile.address }}">
        </div>

        <div class="inputField">
            <label for="personalWebsite">Personal Website:</label>
            <input type="text" name="personalWebsite" id="personalWebsite" placeholder="Personal Website" value="{{ profile.personalWebsite }}">
        </div>

        <div class="inputField">
            <label for="contactEmail">Contact Email</label>
            <input type="text" name="contactEmail" id="contactEmail" placeholder="Contact Email" value="{{ profile.contactEmail }}">
        </div>`

        <div class="buttons">
            <button class="savProfile" onclick="saveProfile()">Save</button>
        </div>
    </section>

    <section id="educations">
        <div class="top">
            <h1>Education</h1>
            <button id="addEducation" onclick="addEducation()">Add</button>
        </div>

        <div class="container">
            {%  for education in educations %}
            <div class="educationField" educationId="{{ education.educationId }}">
                <div class="educationContainer">
                    <div class="degreeMark">
                        <div class="inputField">
                            <label for="edu-school-{{ education.educationId }}">School</label>
                            <input type="text" id="edu-school-{{ education.educationId }}" class="school" value="{{ education.school }}" placeholder="School" />
                        </div>
                        <div class="inputField">
                            <label for="edu-degree-{{ education.educationId }}">Degree</label>
                            <input type="text" id="edu-degree-{{ education.educationId }}" class="degree" value="{{ education.degree }}" placeholder="Degree" />
                        </div>
                        <div class="inputField">
                            <label for="edu-fos-{{ education.educationId }}">Field Of Study</label>
                            <input type="text" id="edu-fos-{{ education.educationId }}" class="fieldOfStudy" value="{{ education.fieldOfStudy }}" placeholder="Field Of Study" />
                        </div>
                    </div>
                    <div class="dates">
                        <div class="inputField">
                            <label for="edu-start-{{ education.educationId }}">Start Date</label>
                            <input type="date" id="edu-start-{{ education.educationId }}" name="startDate" class="startDate" value="{{ education.startDate }}" />
                        </div>
                        <div class="inputField">
                            <label for="edu-end-{{ education.educationId }}">End Date</label>
                            <input type="date" id="edu-end-{{ education.educationId }}" name="endDate" class="endDate" value="{{ education.endDate }}" />
                        </div>
                    </div>
                    <div class="inputField">
                        <label for="edu-cgpa-{{ education.educationId }}">CGPA</label>
                        <input type="number" id="edu-cgpa-{{ education.educationId }}" name="cgpa" class="cgpa" value="{{ education.cgpa }}" placeholder="CGPA" />
                    </div>
                </div>
                <div class="buttons">
                    <div class="removeBtn">
                        <button class="removeEducation" educationId="{{ education.educationId }}" onclick="removeEducation(this)">Remove</button>
                    </div>
                    <div class="saveButton">
                        <button class="saveEducation" educationId="{{ education.educationId }}" onclick="saveEducation(this)">Save</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
            
        </section>
        
        <section id="experiences">
        <div class="top">
            <h1>Experiences</h1>
            <button id="addExperience" onclick="addExperience()">Add</button>
        </div>

        <div class="container">
            {% for experience in experiences %}
                <div class="experienceField" experienceId="{{ experience.experienceId }}">
                    <div class="experienceContainer">
                        <div class="companyRole">
                            <div class="inputField">
                                <label for="exp-company-{{experience.experienceId}}">Company</label>
                                <input type="text" id="exp-company-{{experience.experienceId}}" class="company" value="{{ experience.company }}" placeholder="Company" />
                            </div>
                            <div class="inputField">
                                <label for="exp-position-{{experience.experienceId}}">Position</label>
                                <input type="text" id="exp-position-{{experience.experienceId}}" class="position" value="{{ experience.position }}" placeholder="Position" />
                            </div>
                        </div>
                        <div class="dates">
                            <div class="inputField">
                                <label for="exp-start-{{experience.experienceId}}">Start Date</label>
                                <input type="date" id="exp-start-{{experience.experienceId}}" name="startDate" class="startDate" value="{{ experience.startDate }}" />
                            </div>
                            <div class="inputField">
                                <label for="exp-end-{{experience.experienceId}}">End Date</label>
                                <input type="date" id="exp-end-{{experience.experienceId}}" name="endDate" class="endDate" value="{{ experience.endDate }}" />
                            </div>
                        </div>
                        <div class="inputField">
                            <label for="exp-desc-{{experience.experienceId}}">Description</label>
                            <textarea id="exp-desc-{{experience.experienceId}}" name="description" class="description">{{ experience.description }}</textarea>
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="removeBtn">
                            <button class="removeExperience" experienceId="{{ experience.experienceId }}" onclick="removeExperience(this)">Remove</button>
                        </div>
                        <div class="saveButton">
                            <button class="saveExperience" experienceId="{{ experience.experienceId }}" onclick="saveExperience(this)">Save</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section id="skills">
        <div class="top">
            <h1>Skill</h1>
            <div>
                <input type="text" name="newSkill" id="newSkill">
                <button id="addSkill" onclick="addSkill()">Add</button>
            </div>
        </div>
        
        <div class="container">
            {% for skill in skills %}
                <div class="skillField" skillId="{{ skill.skillId }}">
                    <span>{{ skill.skill }}</span>
                    <div class="skillRemove">
                        <button class="removeSkill" skillId="{{ skill.skillId }}" onclick="removeSkill(this)">✕</button>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}


{% block scripts %}
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
{% endblock %}