<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username">
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="Email">
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password">
        </div>

        <div>
            <label for="userType">User Type</label>
            <select name="userType">
                <option value="FREELANCER">Freelancer</option>
                <option value="RECRUITER">Recruiter</option>
            </select>
        </div>
        
        <div>
            <input type="submit" value="Sign Up">
        </div>
    </form>
</body>
</html>